.navigation-menu {
  margin: 30px;

  height: 600px;
}
.navigation-menu-buttons {
  margin: 0 0 20px 30px;
}
.main-info-component {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
